stages:
#   - test
  - build
#   - deploy

docker-build:
  stage: build
  only:
    - tags
  except:
    - branches

  image: docker:25.0.3
  services:
    - name: docker:25.0.3-dind
      command: ["--registry-mirror", "https://docker-registry-remote.artifactory-espoo1.int.net.com", "--registry-mirror", "https://registry1-docker-io.repo.cci..net"]   

  variables:
    # DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
    # DOCKER_HOST: tcp://docker:2375
    # ALL_PROXY: "http://lab-proxy.krk-lab.nsn-rdnet.net:8080/"
    # http_proxy: "http://lab-proxy.krk-lab.nsn-rdnet.net:8080/"
    # https_proxy: "http://lab-proxy.krk-lab.nsn-rdnet.net:8080/"
    # ftp_proxy: "http://lab-proxy.krk-lab.nsn-rdnet.net:8080/"
    # all_proxy: "http://lab-proxy.krk-lab.nsn-rdnet.net:8080/"
    # no_proxy: "..com,.nsn.com,.nsn-net.net,.emea.nsn-net.net,.com,127.0.0.1,localhost"

  before_script:
    - docker version
    - docker login -u "$DOCKER_REGISTRY_USER" -p "$DOCKER_REGISTRY_PASSWORD" $DOCKER_REGISTRY
  # Default branch leaves tag empty (= latest tag)
  # All other branches are tagged with the escaped branch name (commit ref slug)
  script:
    - |
      if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
        TAG=""
        echo "Running on default branch '$CI_DEFAULT_BRANCH': TAG = 'latest'"
      else
        TAG="$CI_COMMIT_REF_SLUG"
        echo "Running on branch '$CI_COMMIT_BRANCH': TAG = $TAG"
      fi
      export TAG
    - docker compose -f docker-compose.prod.yml down
    - docker compose -f docker-compose.prod.yml config
    - docker compose -f docker-compose.prod.yml build
    - docker compose -f docker-compose.prod.yml push 
  

