.App {
  text-align: center;
}

.App-header {
  background-color: #004c9a;
  min-height: 50px;
  display: flex;
  align-items: right;
  justify-content: right;
  color: white;
}

.App-footer {
  display: flex;
  justify-content: right;
  color: #004c9a;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.App-logo {
  margin-right: 20px;
}

.buttons-container {
  display: flex;
}

.buttons-div {
  margin-top: 5px;
  display: flex;
  align-items: right;
  justify-content: right;
  margin-right: 20px;
}

.back-button-div {
  margin-top: 10px;
  flex: 1;
  align-items: left;
  justify-content: left;
  margin-left: 20px;
  text-decoration: none;
}