{% extends 'layout.html' %}
{% load static %}

{% block title %} Setup Reservation Tool {% endblock %}

{% block css-links %}
	{{ block.super }}
    <link rel="stylesheet" type="text/css" href='{% static "css/trs_form.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "css/bootstrap_4_3_1.min.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "css/bootstrap_4_3_1.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/menu.css" %}'>


{% endblock %}


{% block scripts %}
	{{ block.super }}
{% endblock %}


{% block head %}
	{{ block.super }}
    <script type="text/javascript" src='{% static "js/handsontable.full.js" %}'></script>
    <link rel="stylesheet" media="screen" href='{% static "css/handsontable.full.css" %}'>
{% endblock %}


{% block body %}
	<h2 id="header_of_page_id"> <p class="text-center"> <b>Testline Reservation Scheduler</b> </p> </h2>

	<br/>

    <ol id="menu_kpi_dashboard">
      <li><a href="/scheduler/"> About </a></li>
      <li><a> Reservations </a>
		<ul>
			<li><a href="/scheduler/reservations/"> All reservations </a> </li>
          	<li><a href="/scheduler/my-reservations/"> My reservations </a></li>
		</ul>
	  </li>
      <li><a> Manage reservations</a>
		<ul>
			<li><a  href="/scheduler/my-reservations/"> My reservations </a> </li>
          	<li><a href="/scheduler/add_branch/"> Add Branch </a></li>
          	<li><a href="/scheduler/add_configuration/"> Add Configuration </a></li>
          	<li><a href="/scheduler/edit_api_token/"> Edit API Token </a></li>
		</ul>
	  </li>
      <li><a href="/scheduler/create-reservations/"> Create reservation </a> </li>
    </ol>
    <br/>

	<div class ="content" style="padding-left: 20px;padding-right: 20px;">

		{% block content %}
			{% if message %}
				<p class="message text-center text-primary"> {{ message }} </p>
			{% endif %}
		{% endblock content %}

	</div>

{% endblock %}
