{% extends 'base_layout.html' %}


{% load static %}

{% block head %}

{% endblock %}

{% block content %}

<hr/>
<center>
<h4>
    Setup Reservation Tool<br/>
</h4>
<br/>

<a href="https://confluence.int.net.com/display/PAF/General+information">
    <button type="button" class="btn btn-default btn-lg" aria-label="Center Align" style="margin-right: 5%;">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true">&nbspHelp</span>
    </button>
</a>

<a href="mailto:kamil.bucki@.com?Subject=[Delivery Dasboard] Improvement propose" target="_top">
    <button type="button" class="btn btn-default btn-lg" aria-label="Center Align" style="margin-right: 5%";>
        <span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbspImprovement&nbsp;request</span>
    </button>
</a>

<a href="mailto:kamil.bucki@.com?Subject=[Delivery Dasboard] Bug report" target="_top">
    <button type="button" class="btn btn-default btn-lg" aria-label="Center Align">
        <span class="glyphicon glyphicon-warning-sign " aria-hidden="true">&nbsp;Bug&nbsp;report</span>
    </button>
</a>

</center>
<hr/>
{% endblock content %}
