{% load static %}


{% block scripts %}
   <script type="text/javascript" charset="utf-8" src='{% static "js/jquery.min.js" %}'></script>
   <script type="text/javascript" charset="utf-8" src='{% static "js/ajaxSetup.js" %}'></script>
   <script type="text/javascript" charset="utf-8" src='{% static "js/authentication.js" %}'></script>
   <script type="text/javascript" charset="utf-8" src='{% static "/js/sweetalert.min.js" %}'></script>
   <script>
      var ajax = new AJAX('{{ csrf_token }}');
      ajax.setup();
      var authenticator;
      $(document).ready(function () {
          authenticator = new AuthenticationController();

      });

   </script>
{% endblock %}

{% block css-links %}
   <link rel="stylesheet" href='{% static "css/jquery-ui-1.10.4.custom.css" %}' type="text/css"/>
   <link rel="stylesheet" href='{% static "css/layoutStyles.css" %}' type="text/css"/>
   <link rel="stylesheet" href='{% static "css/authentication.css" %}' type="text/css"/>
   <link rel="stylesheet" href='{% static "css/sweetalert.css" %}' type="text/css"/>
{% endblock %}


<body id="dt_example">
   {% block body_container %}
   <div class="main_container_center">
      <div class="header_container">
         <p><img class="float_right" src="/static/NOKIA_LOGO_WHITE_50px.png"
            alt="NOKIA"/>
            {# <div class="teb_title"><span >Test Execution Browser</span></div> #}
         </p>
      </div>
      <table class="width_100">
         <tr>
            <td>
               <h1>{% block 'header' %} {% endblock %}</h1>
            </td>
            <td >
               {% if '/dash/' in  request.path %}
               request.path
               <a href="https://confluence.int.net.com/display/PAF/Dashboard" id="admin-button" class="blue-yellow-btn" title="Go to admin page">Help</a>
               {% endif %}
               <a href="/admin" id="admin-button" class="blue-yellow-btn" title="Go to admin page" style="height: 100%">Admin</a>
               <span id="authentication-dom-container">
                  {% if user.is_authenticated %}
                  <a id="logout-button" class="blue-yellow-btn" title="Logout from the service">Logout</a>
                  <h3 class="float_right" style="cursor: context-menu">Logged as: {{ user.username }}</h3>
                  {% else %}
                  <a id="login-button" class="blue-yellow-btn" title="Login using LDAP credentials">Login</a>
                  {% endif %}
               </span>
            </td>
         </tr>
      </table>
      {% block body %} {% endblock %}
   </div>
   {% endblock %}
   {% block footer %}
   {% endblock %}
   {% include 'login.html' %}
</body>

