{% extends 'base_layout.html' %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}

{% load static %}
{% block scripts %}
{{ block.super }}
   <script type="text/javascript" charset="utf-8" src='{% static "js/jquery.min.js" %}'></script>
{% endblock %}
{% block css-links %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href='{% static "css/bootstrap_3_3_7.min.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "css/customStyles.css" %}'>
{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

              <script>

            $(function() {
            		var msg = "{{msg}}"
            		var msg_type = "{{msg_type}}"

            		if (msg) {
            			type_msg = "info"
            			msg_title = 'Information'

            			if (msg_type == "success"){
            			type_msg = "success"
            			msg_title = 'Success'
            			}
            			if (msg_type == "error"){
            			type_msg = "error"
            			msg_title = 'Error'
            			}

						swal({
							title: msg_title,
							text: msg,
							type: type_msg,
							imageWidth: 200,
							imageHeight: 200,
							animation: true,
							showConfirmButton: true
						})
                    }

            });

            </script>

<div class="row">
    <div class="col-5">
        <div class="card card-body">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <p> Choose proper fields to add report: </p>
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary" id="submit-btn">Create reservation</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
