{% extends 'base_layout.html' %}

{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% include "bsmodals/confirm.html" %}

{% load static %}

{% block css-links %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href='{% static "css/bootstrap_3_3_7.min.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "css/customStyles.css" %}'>
{% endblock %}

{% block head %}

{% endblock %}

{% block scripts %}
	{{ block.super }}

	<script type="text/javascript">

        function remove_reservation(reservation_id){


                swal({
                  title: "Are you sure?",
                  text: "Your will not be able to recover this reservation.",
                  type: "warning",
                  showCancelButton: true,
                  confirmButtonClass: "btn-danger",
                  confirmButtonText: "Yes, delete it!",
                  closeOnConfirm: false
                },
                function(){
                    $.ajax({
                       type: "POST",
                        url: "delete/",
                       data:
                       {
                        reservation_id: reservation_id,
                        action: 'remove_reservation',

                       },
                       dataType: "json",
                       success: function(data)
                       {

                            if (data.msg_type == 'success'){
                                swal({
                                        title: 'Success',
                                        text: data.msg,
                                        type: data.msg_type,
                                        imageWidth: 200,
                                        imageHeight: 200,
                                        animation: true,
                                        showConfirmButton: true
                                    },
                                    function(){
                                        location.reload();
                                     })


                            }
                            else {
                                swal({
                                        title: 'Error',
                                        text: data.msg,
                                        type: data.msg_type,
                                        imageWidth: 200,
                                        imageHeight: 200,
                                        animation: true,
                                        showConfirmButton: true
                                    })
                            }
                       }

                     });

                });
        }





	</script>

{% endblock %}


{% block content %}

<br/>
{% if filter %}
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form id="remove_form" action="#"  action="#" method="get">
                <div class="form-group form-inline">
                    {% bootstrap_form filter.form %}
                    <button class="btn btn-primary" type="submit">Filter</button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col">
        <div class="card card-body">
            {% render_table table 'django_tables2/bootstrap.html' %}
        </div>
    </div>
</div>

{% endblock content %}
