@font-face {
  font-family: "PureLight";
  font-weight: 200;
  src: url("../fonts/Roboto-Light.eot");
}

@font-face {
  font-family: "PureLight";
  font-weight: 200;
  src: url("../fonts/Roboto-Light.woff");
}

@font-face {
  font-family: "PureLight";
  font-weight: 200;
  src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "PureRegular";
  font-weight: 200;
  src: url("../fonts/Roboto-Regular.eot");
}

@font-face {
  font-family: "PureRegular";
  font-weight: 200;
  src: url("../fonts/Roboto-Regular.woff");
}

@font-face {
  font-family: "PureRegular";
  font-weight: 200;
  src: url("../fonts/Roboto-Regular.ttf");
}

.p-button-primary {
  background-color: #004c9a !important;
  margin-right: 3px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: #004c9a;
  font-weight: bold;
}

.p-button-primary:hover {
  background-color: #004c9a !important;
  margin-right: 3px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: #004c9a;
  font-weight: bold;
}

.p-dialog .p-dialog-header {
  background-color: #004c90;
  color: white;
}

.p-dialog .p-dialog-content {
  padding-top: 30px;
}

.p-dialog .p-dialog-footer .p-button {
  background-color: #004c90;
  border-color: #004c90;
  color: white;
}

.p-dialog .p-dialog-footer .p-button:hover {
  background-color: #004c90;
  border-color: #004c90;
  color: white;
}