.p-scrollpanel.custombar .p-scrollpanel-wrapper {
    border-right: 10px solid var(--surface-b);
}

.p-scrollpanel.custombar .p-scrollpanel-bar {
    background-color: var(--primary-color);
    opacity: 1;
    transition: background-color .2s;
}

.p-scrollpanel.custombar .p-scrollpanel-bar:hover {
    background-color: #004c9a;
}