.p-scrollpanel.custombar .p-scrollpanel-wrapper {
    border-right: 10px solid var(--surface-b);
}

.p-scrollpanel.custombar .p-scrollpanel-bar {
    background-color: var(--primary-color);
    opacity: 1;
    transition: background-color .2s;
}

.p-scrollpanel.custombar .p-scrollpanel-bar:hover {
    background-color: #003870;
    border-color: #003870;
}

.p-scrollpanel.custombar .p-scrollpanel-bar {
    background-color: #004c9a;
    border-color: #004c9a;
}

@keyframes p-progress-spinner-color {

    100%,
    0% {
        stroke: #9b9b9b;
    }

    40% {
        stroke: #003c9c;
    }

    66% {
        stroke: #002f7a;
    }

    80%,
    90% {
        stroke: #002868;
    }
}

.p-calendar-w-btn-right .p-datepicker-trigger {
    background-color: #004c9a;
    border-color: #004c9a;
}

.p-calendar-w-btn-right .p-datepicker-trigger:hover {
    background-color: #003870;
    border-color: #003870;
}

#fail_message_group {
    display: flex;
}