.p-menubar {
  background-color: #004c9a;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-text {
  color: white;
  font-weight: bold;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-icon {
  color: white;
}

/* .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled):hover {
  background-color: #2876c4;
  color: white;
} */

.row-unread {
  /* background-color: rgb(248, 227, 214) !important; */
  font-weight: bold;
}

.shortMsgItem:hover {
  background: #e7e9f8;
}

.shortMsgItem {
  /* border: 2px solid#e7e7e7; */
}

.cellColor {
  background: #f5f7ff;
}

.inline {
  display: inline-block;
}

.p-overlaypanel>.p-overlaypanel-content{
  padding: 15px;
}