.p-menubar {
  background-color: #004c9a;
  padding: 0.5rem 0 0.5rem 0.5rem;
  border: 0px;
  border-radius: 0px;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-text {
  color: white;
  font-weight: bold;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-icon {
  color: white;
}

.shortMsgItem:hover {
  background: #e7e9f8;
}

.shortMsgItem {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    border-bottom: solid #bdbdbd;
    border-width: 1px;
}

.msgAndDate {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  height: 100%;
}

.circle {
  flex: 1;
  width: 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cellColor {
  background: #f5f7ff;
}

.p-overlaypanel>.p-overlaypanel-content{
  padding: 15px;
}