.p-card .p-card-content {
    padding: 0;
}

.p-datatable .p-datatable-tbody>tr>td {
    padding: 8px 5px;
}

.p-datatable .p-column-title {
    font-size: 13px;
}

.result-badge {
    border-radius: 2px;
    padding: .25em .35rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
}

.result-badge.result-not-analyzed {
    background-color: #fafc7d;
    color: #656622;
}

.result-badge.result-environment-issue {
    background-color: #ECCFFF;
    color: #694382;
}

.p-card .p-card-body {
    padding-left: 0.35rem;
    padding-right: 0.35rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}