.test-instances-table {
    /* margin: 5px; */
    /* max-width: 99%; */
    max-height: 60%;
}

.p-datatable.test-instances-table .p-datatable-header {
    padding: 1rem;
    text-align: left;
    font-size: 1.5rem;
}

.p-datatable.test-instances-table .p-filter-column .p-inputtext {
    font-size: 11.5px;
    padding: 8px;
}


.p-datatable.test-instances-table .p-paginator {
    padding: 1rem;
}

.p-datatable.test-instances-table .p-datatable-thead>tr>th {
    text-align: left;
}

.panel-style {
    font-size: 11px;
}

.p-datatable.test-instances-table .p-filter-column .p-dropdown .p-dropdown-clear-icon {
    right: 2rem;
    font-size: 13px;
    padding: 2px;
}

.p-datatable.test-instances-table .p-filter-column .p-dropdown .p-dropdown-trigger-icon {
    font-size: 13px;
    padding: 9px;
}

.ti-suspend-dialog .p-dialog-content {
    padding: 0.7rem;
}