.p-card .p-card-content {
    padding: 0;
}

.p-datatable .p-datatable-tbody>tr>td {
    padding: 8px 5px;
}

.p-datatable .p-column-title {
    font-size: 13px;
}

.result-badge {
    border-radius: 2px;
    padding: .25em .35rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
}

.result-badge.result-not-analyzed {
    background-color: #fafc7d;
    color: #656622;
}

.result-badge.result-environment-issue {
    background-color: #ECCFFF;
    color: #694382;
}

.result-badge.result-passed {
    background-color: #cfffcf;
    color: #0c4600;
}

.result-badge.result-failed {
    background-color: #ffd7d7;
    color: #990000;
}

.result-badge.result-blocked {
    background-color: #03001f;
    color: #e7e6f0;
}

.p-card .p-card-body {
    padding-left: 0.35rem;
    padding-right: 0.35rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.p-datatable-resizable .p-datatable-thead>tr>th,
.p-datatable-resizable .p-datatable-tfoot>tr>td {
    overflow: hidden;
    white-space: nowrap
}

.p-datatable-resizable .p-datatable-tbody>tr>td {
    overflow: hidden;
    white-space: unset;
    overflow-wrap: anywhere;
    min-width: fit-content;
    max-width: max-content;
}

.test-runs-table .p-checkbox {
    width: 25px;
    height: 25px;
}

.test-runs-table .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #004c9a;
    background-color: #004c9a;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    padding: 0.3rem 1.25rem
}

/* html body div.p-multiselect-panel.p-component.p-connected-overlay-enter-done div.p-multiselect-items-wrapper ul.p-multiselect-items.p-component li.p-multiselect-item */