.dialog-style {
    width: 80%;
}

.p-dialog .p-dialog-header {
    background-color: #004c90;
    color: white;
}

.add-icon {
    margin-left: 10px;
    margin-bottom: 3px;
}

.form-item {
    margin-top: 20px;
    margin-bottom: 20px;
}