.table-style {
    margin-top: 5px;
    font-size: 12px;
    /* margin-left: 5px;
    margin-right: 5px; */
    /* width: 99%; */
}

.table-style .p-inputtext {
    height: 30px;
    font-size: 13px;
}

.table-style .p-checkbox {
    width: 25px;
    height: 25px;
}

.table-style .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #004c9a;
    background-color: #004c9a;
}