/* Bottom */
.ht_master tr > td {
  //border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  //border-left: 1px solid #000;
  border-top: 1px solid #000;
}

.handsontable thead th {
  background-color: #246FFA;
  color: #FFFFFF;
  text-align: center;
  font-weight: normal;
  white-space: nowrap;
  font-weight:bold;
  margin-left:5%;
  margin-right:5%;
}


.handsontable .htDimmed {
  background-color: #e6e6e6 !important;
  color: #000000 !important;
  vertical-align: middle;
}

.htDimmed {
  background-color: #246FFA !important;
  color: #FFFFFF !important;
}

.delivery_dashboard_margin_form {
    font-family: _pure_text;
    text-align:left !important;
    margin:0px;
    margin-left:2%;
    margin-right:2%;



}
.delivery_dashboard_margin_form > p {
    font-size:18px;
    font-weight: bold;
}
.delivery_dashboard_margin_form >form{
     text-align:left ;
     /*width: 20px;*/

 }
.delivery_dashboard_margin_form > form > table >tbody > tr > th {
    text-align: left ;
    width:auto ;
    padding-right: 15px ;
    margin-right: 0px ;



}
.delivery_dashboard_margin_form > form > table >tbody > tr > td {
    width: auto;

}

.delivery_dashboard_margin_form > form > table {
    margin-bottom: 5px !important;

}


.delivery_dashboard_margin_form > form > button {
    background-color:buttonface;
    padding: 2px 15px 2px 15px;
    border-width: 2px;
    font-family: _pure_text;
    font-size: 14px;
    font-weight: bold;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
}
/*.delivery_dashboard_margin_form > form > button:hover{*/

    /*background: rgba(51, 153, 255, .2);*/


    /*font-family: _pure_text;*/

    /*font-weight: bold;*/
    /*border-style: outset;*/
    /*border-color: buttonface;*/
    /*border-image: initial;*/


/*}*/
.ui-multiselect-filter > input {
    color: black;
}
